APP_PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=wms_sync
# Shopee API
PARTNER_ID=your_partner_id
PARTNER_KEY=your_partner_key
SHOP_ID=your_shop_id
ACCESS_TOKEN=your_access_token
REFRESH_TOKEN=your_refresh_token
